---
# git clone a remote repo url to ~/src/github.com/*
# * = unless otherwise specified


- include: "ssh.yml"
  when: "remote_repo|search('ssh://')"
  register: ssh_remote

- name: clone {{ remote_repo }} to {{ local_repo }}
  git: repo=https://{{ remote_repo }} dest={{ local_repo }}
       bare={{ bare }}
       depth={{ depth }}
       executable={{ executable }}
       force={{ force }}
       recursive={{ recursive }}
       reference={{ reference }}
       remote={{ remote }}
       update={{ update }}
       version={{ version }}
  when: "remote_repo|search('ssh://') == false"
